.silverpackagetext{
    color: silver;
    text-align: center;
    text-shadow: black 1px 1px 1px;
    font-size: 125%;
    padding: 1em;
   
}
.goldpackagetext{
    color: gold;
  text-align: center;
   margin-left: 1em;
   text-shadow: black 1px 1px 1px;
   font-size: 125%;
   padding: 1em;
}
.diamondpackagetext{
    color: darkturquoise;
    text-align: center;
    margin-left: 1em;
    text-shadow: black 1px 1px 1px;
    font-size: 125%;
    padding: 1em;
}

#package-wrapper{
    background: whitesmoke;
    border-radius: 14px;
    padding-top: 1em;
}

.jobtext{
    margin-top: 1em;
}

#packageIcon{
font-style: normal;
font-size: 500%;
}
.package-content{
    padding: 1em 1em;
}

.package-content img{
    border-radius: 7px;
}


.includedtext{
    text-align: center;
}
.package{
    border: 1px solid black;
}
.package-icon{
    font-size: 1000%;
}
.package-img{
    max-width: 350px;
    height: auto;
}


.worstjobtext{
    text-align: center;
    font-size: 80%;
}
@media(max-width: 320px){
    .packages{
        padding-left: 50px;
    }
    #silverpackage{
        width: 250px;
    }
    #goldpackage{
        width: 250px;
    }
    #diamondpackage{
        width: 250px;
    }
    #form-wrapper{
        width: 250px;
    }
    #submit-button{
        font-size: 90%;
        width: 70px;
    }
    .footer-sponsors{
        font-size: 10%;
        padding-top: 20px;
    }
    .packages-socialmedia{
        padding-bottom: 20px;
    }
}


.package-main{
    flex-direction: column;
}

@media(min-width:770px){
    .package-main{
        flex-direction: row;
    }
   

}