* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url(images/sony_one_job.jpg.optimal.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: rgba(255,255,255,0.2);
    background-blend-mode: lighten;
  }

.logo {
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

.title {
    align-items: center;
    display:flex;
    padding: 0;
}

.row-first {
    justify-content: center;
}

.second {
    justify-content: center;
    display:flex;
}

.row-second {
    padding-top: 20px;
}

.navbar {
    display: flex;
    justify-content: center;
    background-color: transparent;
}

.footer-sponsors img{
    max-height: 3em;
    width: auto;
}

#motspeach{
    min-height: 70vh;
    min-width: 70vh;
    background-image: url("https://i.ytimg.com/vi/WCBEammPsu0/maxresdefault.jpg");
}
